$class-prefix-modal: 'bwm-modal';

.#{$class-prefix-modal} {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &-content {
    min-width: 269px;
    display: flex;
    flex-direction: column;
    background: var(--ww-surface-raised-color);
    border: 1px solid var(--ww-border-color);
    border-radius: var(--ww-radius-card);
    box-shadow: var(--ww-card-shadow-floating);
    header {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 58px;
      font-size: var(--ww-font-size-lg);
      font-weight: bold;
      color: var(--ww-theme-text-color);
    }
    main {
      flex-grow: 1;
    }
    footer {
      $borderColor: var(--ww-border-color);
      border-top: 1px solid $borderColor;
      button {
        width: 50%;
        height: 42px;
        font-size: var(--ww-font-size-base);
      }
      $buttonColor: var(--ww-theme-color-deep);
      .#{$class-prefix-modal}-cancel {
        color: $buttonColor;
        font-weight: bold;
        border-right: 1px solid $borderColor;
      }
      .#{$class-prefix-modal}-ok {
        color: $buttonColor;
        &.disabled {
          color: var(--ww-text-color-soft);
        }
      }
    }
  }
}
