$class-prefix-modal: 'bwm-modal';

.#{$class-prefix-modal} {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &-content {
    min-width: 269px;
    display: flex;
    flex-direction: column;
    background: #f0f0f0;
    border-radius: 12px;
    header {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 58px;
      font-size: var(--ww-font-size-lg);
      font-weight: bold;
      color: #010101;
    }
    main {
      flex-grow: 1;
    }
    footer {
      $borderColor: #b4b4b4;
      border-top: 1px solid $borderColor;
      button {
        width: 50%;
        height: 42px;
        font-size: var(--ww-font-size-base);
      }
      $buttonColor: #356eef;
      .#{$class-prefix-modal}-cancel {
        color: $buttonColor;
        font-weight: bold;
        border-right: 1px solid $borderColor;
      }
      .#{$class-prefix-modal}-ok {
        color: $buttonColor;
        &.disabled {
          color: #929292;
        }
      }
    }
  }
}
