.header {
  height: 43px;
  padding: 0 16px;
  background: #ffffff;
  font-size: 16px;
  color: #1c1d1f;
  border-bottom: 1px solid #e8e8e8;
  > div {
    font-size: 14px;
    color: #598bd2;
  }
}

.list-wrapper {
  min-height: 116px;
  .item {
    &::before {
      display: block;
      position: relative;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      content: '';
      width: 359px;
      height: 1px;
      background: #fbfbfb;
    }
    main {
      padding: 11px 0;
      .avatar {
        width: 36px;
        height: 36px;
        margin: 0 9px 0 15px;
      }
      .right {
        color: #8b8b8b;
        font-size: 13px;
        .name {
        }
        .content {
          margin: 6px 0 12px;
          font-size: 16px;
          color: #202020;
        }
        .time {
          font-size: 12px;
          color: #8b8d8c;
          .report {
            display: inline-block;
            width: 52px;
            height: 20px;
            line-height: 20px;
            background: #f6f7f9;
            border-radius: 10px;
            font-size: 12px;
            color: #1b1b1b;
          }
        }
      }
    }
    footer {
      padding: 0 15px 12px 54px;
      .reply-box {
        padding: 8px 10px 10px;
        background: #f7f7f7;
        border-radius: 4px;
        .name {
          font-size: 14px;
          color: #5986c1;
        }
      }
    }
  }
  .empty {
    font-size: 15px;
    color: #a4a4a4;
  }
}
