$class-prefix-button: 'bwm-button';

.#{$class-prefix-button} {
  height: 50px;
  display: inline-block;
  font-size: var(--ww-font-size-base);
  color: #333233;
  border-radius: 11px;
  background: #aeeeff;
  &-block {
    width: 100%;
    display: block;
  }
  &-full {
    display: block;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
    border-radius: 0;
  }
}
