.nav-bar {
  background: var(--ww-surface-raised-color);
}

.item {
  display: flex;
  align-items: center;
  height: 71px;
  background: var(--ww-surface-raised-color);
  img {
    width: 47px;
    height: 47px;
    margin: 0 16px 0 11px;
    background: var(--ww-surface-tint-color);
  }
  .box {
    flex-grow: 1;
    .name {
      font-size: var(--ww-font-size-base);
      font-weight: bold;
      color: var(--ww-theme-text-color);
    }
    .desc {
      font-size: var(--ww-font-size-sm);
      color: var(--ww-text-color-mid);
      span {
        margin-right: 17px;
      }
    }
  }
  .btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
    .follow-status {
      width: 54px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--ww-font-size-sm);
      border-radius: 13px;
      border: 1px solid var(--ww-border-color);
      &.active {
        color: var(--ww-text-color-soft);
      }
    }
  }
}
