.nav-bar {
  background: #fff;
}

.item {
  display: flex;
  align-items: center;
  height: 71px;
  background: #ffffff;
  img {
    width: 47px;
    height: 47px;
    margin: 0 16px 0 11px;
    background: #dedede;
  }
  .box {
    flex-grow: 1;
    .name {
      font-size: 16px;
      font-weight: bold;
      color: #1c1c1f;
    }
    .desc {
      font-size: 12px;
      color: #888b92;
      span {
        margin-right: 17px;
      }
    }
  }
  .btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
    button {
      width: 54px;
      height: 25px;
      font-size: 12px;
      border-radius: 13px;
      border: 1px solid #e8e8e8;
      &.active {
        color: #92979f;
      }
    }
  }
}
