.wrapper {
  height: 46px;
  flex-shrink: 0;
  padding-left: 15px;
  font-size: var(--ww-font-size-base);
  color: var(--ww-text-color-soft);
  background: var(--ww-surface-raised-color);
  border-bottom: 1px solid var(--ww-border-color);
  .title {
    width: 67px;
    &.active {
      font-size: var(--ww-font-size-lg);
      font-weight: 600;
      color: var(--ww-theme-text-color);
      &::before {
        display: block;
        content: '';
        width: 14px;
        height: 3px;
        position: absolute;
        bottom: 4px;
        left: 50%;
        transform: translateX(-50%);
        background: var(--ww-theme-color);
        border-radius: 2px;
      }
    }
  }
}
