.tabs {
  display: flex;
  .tab {
    height: 36px;
    line-height: 36px;
    flex-grow: 1;
    text-align: center;
    font-size: var(--ww-font-size-base);
    color: #888b92;
    &.active {
      position: relative;
      font-weight: bold;
      color: #1c1c1f;
      &:before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 1px;
        transform: translateX(-50%);
        width: 14px;
        height: 3px;
        display: block;
        background: var(--ww-theme-color);
        border-radius: 1.5px;
      }
    }
  }
}

.achieve {
  padding: 13px 16px 0;
  font-size: var(--ww-font-size-base);
  font-weight: bold;
  color: #1c1d1f;
}

.check-info {
  .font-bold {
    font-size: var(--ww-font-size-base);
    color: #1c1d1f;
  }
  p {
    font-size: var(--ww-font-size-sm);
    color: #8c8f95;
  }
}
