.wrapper {
  display: flex;
  padding: 13px 16px 30px;
  background: #ffffff;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #d9d9d9;

  .avatar {
    width: 70px;
    height: 70px;
    margin-right: 12px;
    overflow: hidden;
    background: #aca3a3;
  }

  .middle {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .name {
      color: #1c1d1f;
      font-size: var(--ww-font-size-lg);
    }

    .desc {
      display: flex;
      margin-top: 8px;
      color: #888b92;
      font-size: var(--ww-font-size-sm);
      > div {
        margin-right: 20px;
      }
      span {
        color: #1c1d1f;
        font-size: var(--ww-font-size-base);
        font-weight: bold;
      }
    }
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    > button {
      width: 55px;
      height: 22px;
      line-height: 22px;
      text-align: center;
      font-size: var(--ww-font-size-sm);
      color: #1c1c1f;
      background: var(--ww-theme-color);
      border-radius: 11px;
    }
  }
}
