.bwm-tab-bar {
  display: flex;
  width: 100%;
  height: 60px;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-evenly;
  background: #fefefe;
  box-shadow: 0 -1px 1px #f6f6f6;
  color: #747374;

  .item {
    .tab-icon {
      display: block;
      font-size: var(--ww-font-size-xl);
    }

    .name {
      font-size: var(--ww-font-size-sm);
      font-weight: bold;
    }
  }
}
