.demoBlock {
  &:last-of-type {
  }
}

.title {
  color: #697b8c;
  font-size: 14px;
}

html[data-prefers-color-scheme='dark'] {
  .title {
    color: #959da6;
  }
}

.main {
  border-right: none;
  border-left: none;
}
