$class-prefix-user-follow-item: 'bwm-user-follow-item';

.#{$class-prefix-user-follow-item} {
  display: flex;
  align-items: center;
  padding: 11px 16px 13px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 360px;
    height: 1px;
    background: #e9ebee;
  }
  img {
    width: 47px;
    height: 47px;
    margin-right: 11px;
    border-radius: 50%;
    border: 1px solid #dedede;
  }
  &-box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    &-username {
      font-size: var(--ww-font-size-base);
      font-weight: bold;
      color: #1c1c1f;
    }
    &-desc {
      font-size: var(--ww-font-size-sm);
      color: #888b92;
    }
  }
  button {
    width: 54px;
    height: 25px;
    background: #ffffff;
    border-radius: 13px 13px 13px 13px;
    border: 1px solid #e8e8e8;
    &.follow {
      color: #92979f;
    }
  }
}
