.wrapper {
  > ul {
    .header {
      height: 32px;
      font-size: var(--ww-font-size-xs);
      color: #969696;
    }
    > li {
      display: flex;
      color: #333233;
      height: 55px;
      font-size: var(--ww-font-size-sm);
      background: #ffffff;
      border-bottom: 1px solid #ebebeb;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        > div {
          transform: translateY(1px);
        }
      }
      > div:nth-child(1) {
        width: 14%;
      }
      > div:nth-child(2) {
        width: 26%;
      }
      > div:nth-child(3) {
        width: 26%;
      }
      > div:nth-child(4) {
        width: 26%;
      }
      > div:nth-child(5) {
        width: 8%;
      }
    }
  }
}
