.wrapper {
  color: #333233;
  height: 176px;
  background-color: var(--ww-theme-color);
  .top {
    height: 42px;
    div {
      font-size: var(--ww-font-size-lg);
    }
    span {
      flex-grow: 1;
      width: 20%;
      margin-left: 19px;
      > div {
        font-size: var(--ww-font-size-lg);
      }
    }
  }
  .total {
    > span {
      font-size: var(--ww-font-size-sm);
      color: #71673e;
    }
    > div {
      font-size: var(--ww-font-size-2xl);
      > span {
        font-size: var(--ww-font-size-2xl);
      }
    }
  }
  .bottom {
    height: 52px;
    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      > div {
        display: flex;
        align-items: baseline;
        > span {
          width: 24px;
          font-size: var(--ww-font-size-sm);
          color: #6e643e;
          margin-right: 4px;
          white-space: nowrap;
        }
        > div {
          font-size: var(--ww-font-size-lg);
          > span {
            font-size: var(--ww-font-size-base);
          }
        }
      }
    }
    .income {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 1px;
        height: 20px;
        background-color: #827542;
      }
    }
  }
}
