$class-prefix-input: 'bwm-input';

.#{$class-prefix-input} {
  height: 100%;
  width: 240px;
  outline: none;
  &::placeholder {
    color: var(--ww-text-color-ghost);
    font-size: var(--ww-font-size-base);
  }
  &-wrapper {
    --width: 100%;
    --prefix-width: 'auto';
    --border-inner: 1px solid var(--ww-border-color);

    display: flex;
    align-items: center;
    width: var(--width);
    height: 40px;
    font-size: var(--ww-font-size-xl);
    color: var(--ww-theme-text-color);
    border-bottom: var(--border-inner);
  }
  &-name {
    width: var(--prefix-width);
    padding-right: 28px;
    flex-shrink: 0;
    font-size: var(--ww-font-size-base);
  }
  &-suffix {
    flex-shrink: 0;
    margin-left: auto;
  }
}
