.middle {
  height: 64px;
  bottom: 55px;
  color: var(--ww-theme-text-color);
  &-wrapper {
    padding: 0 16px;
  }
  span {
    font-size: var(--ww-font-size-xl);
  }
  p {
    font-size: var(--ww-font-size-sm);
  }
}
