.list_wrapper{
  display: flex;
  overflow: auto;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 10px;
  border-top: 1px solid #E0E0E0;
  .title{
    padding: 10px;
  }
  .main_wrapper{
    background: pink;
    padding: 5px 10px 10px;
    .item_wrapper{
      .left_wrapper{
        width: 30px;
        height: 30px;
        background: #ccc;
        border-radius: 50%;
      }
    }
  }
}