.list_wrapper {
  display: flex;
  //overflow: auto;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 10px;
  border-top: 1px solid #e0e0e0;
  padding-bottom: 15px;
  .title {
    padding: 10px;
  }
  .main_wrapper {
    padding: 5px 10px 10px;
    .item_wrapper {
      display: flex;
      align-items: center;
      .left_wrapper {
        width: 30px;
        height: 30px;
        background: #ccc;
        border-radius: 50%;
        margin-right: 10px;
      }

      .right_wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 15px 0;
        position: relative;

        .moneyType_wrapper {
          display: flex;
          .moneyType_left {
            display: flex;
            align-items: center;
            margin-bottom: 4px;
            > div {
              width: 10px;
              height: 10px;
              border-radius: 50%;
              margin-left: 5px;
              margin-right: 8px;
              background: red;
            }
            > span {
              font-size: 12px;
            }
          }
          .moneyType_right {
            display: flex;
            justify-content: space-between;
            flex-grow: 1;
            font-size: 11px;
            margin-left: 10px;
          }
        }
      }
      &:not(:last-child) {
        .right_wrapper::after {
          content: '';
          width: 96%;
          height: 1px;
          position: absolute;
          bottom: 0;
          background: #f8f8ff;
          right: 0;
        }
      }
    }
  }
}
