$class-progress-bar: 'bwm-progress-bar';

.#{$class-progress-bar} {
  --track-width: 6px;
  --track-color: #e5e5e5;
  --fill-color: var(--bwm-color-primary);
  &-trail {
    background: var(--track-color);
    overflow: hidden;
    height: var(--track-width);
    border-radius: var(--track-width);
  }
  &-fill {
    transition: width 0.3s;
    background: var(--fill-color);
    height: 100%;
    border-radius: var(--track-width);
  }
}
