.page {
  :global {
    .adm-calendar-picker-view {
      flex-shrink: 0;

      .adm-calendar-picker-view-title,
      .adm-calendar-picker-view-header,
      .adm-calendar-picker-view-cell-top,
      .adm-calendar-picker-view-cell-bottom {
        display: none;
      }

      .adm-calendar-picker-view-mark {
        border-bottom: 0;
        color: #969696;
      }

      .adm-calendar-picker-view-body {
        height: auto;

        .adm-calendar-picker-view-cell {
          width: calc(100% / 7 - 24px / 7);
          height: 56px;
          padding: 0;
          border: 1px solid transparent;
          border-radius: 50%;
          color: inherit;

          &:not(:nth-child(7n)) {
            margin-right: 4px;
          }

          &-selected {
            border-color: transparent;
            color: #333;
            background: var(--ww-theme-color);
          }

          &-date {
            display: flex;
            width: 100%;
            height: 100%;
            flex-grow: 1;
            font-size: var(--ww-font-size-base);
          }
        }
      }
    }
  }
}
