.budget-page {
  :global {
    .adm-dropdown {
      @apply bg-transparent;
      .adm-dropdown-item-title-text {
        @apply text-lg;
      }

      .adm-dropdown-item-title-arrow {
        font-size: unset;
        transform: rotate(0) translateY(0px);
      }

      .adm-dropdown-item-highlight {
        @apply text-black333;
      }
    }

    .adm-popup.adm-dropdown-popup {
      top: calc(45px + env(safe-area-inset-top)) !important;
    }

    .adm-list-item-content-main {
      @apply text-start;
    }
  }
}
