$class-prefix-share: 'bwm-share';

.#{$class-prefix-share} {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ffffff;
  &-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 225px;
    position: relative;
    &::before {
      content: '';
      width: 90%;
      height: 1px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: #f0f0f0;
    }
  }
  &-shares,
  &-opts {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 8px;
  }
  &-opt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 87px;
    > span {
      margin-top: 10px;
      font-size: var(--ww-font-size-sm);
      color: #323232;
      text-align: center;
    }
  }
  &-btn {
    font-size: var(--ww-font-size-lg);
    color: #333233;
    background: #f4f4f4;
  }
}
