$class-prefix-fixed-pin: 'bwm-fixed-pin';

.#{$class-prefix-fixed-pin} {
  z-index: var(--ww-ref-z-floating);
  width: 55px;
  height: 55px;
  position: fixed;
  top: 75%;
  right: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--ww-font-size-base);
  font-weight: bold;
  color: var(--ww-primary-foreground);
  background: var(--ww-theme-color);
  box-shadow: var(--ww-card-shadow-floating);
  border-radius: 50%;
}
