.header {
  height: 43px;
  padding: 0 16px;
  background: var(--ww-surface-color);
  font-size: var(--ww-font-size-base);
  color: var(--ww-theme-text-color);
  border-bottom: 1px solid var(--ww-border-color);
  > div {
    font-size: var(--ww-font-size-base);
    color: var(--ww-theme-color-deep);
  }
}

.list-wrapper {
  min-height: 116px;
  .item {
    &::before {
      display: block;
      position: relative;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      content: '';
      width: 359px;
      height: 1px;
      background: var(--ww-surface-tint-color);
    }
    main {
      padding: 11px 0;
      .avatar {
        width: 36px;
        height: 36px;
        margin: 0 9px 0 15px;
      }
      .right {
        color: var(--ww-text-color-mid);
        font-size: var(--ww-font-size-sm);
        .name {
        }
        .content {
          margin: 6px 0 12px;
          font-size: var(--ww-font-size-base);
          color: var(--ww-theme-text-color);
        }
        .time {
          font-size: var(--ww-font-size-sm);
          color: var(--ww-text-color-mid);
          .report {
            display: inline-block;
            width: 52px;
            height: 20px;
            line-height: 20px;
            background: var(--ww-surface-tint-color);
            border-radius: 10px;
            font-size: var(--ww-font-size-sm);
            color: var(--ww-theme-text-color);
          }
        }
      }
    }
    footer {
      padding: 0 15px 12px 54px;
      .reply-box {
        padding: 8px 10px 10px;
        background: var(--ww-surface-tint-color);
        border-radius: 4px;
        .name {
          font-size: var(--ww-font-size-base);
          color: var(--ww-theme-color-deep);
        }
      }
    }
  }
  .empty {
    font-size: var(--ww-font-size-base);
    color: var(--ww-text-color-soft);
  }
}
