.ww-app-sheet.record-adjustment-sheet.adm-popup-body {
  input.record-adjustment-sheet__amount-input,
  input.record-adjustment-sheet__amount-input:focus {
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    outline: 0;
  }
}
