.list {
  display: flex;
  flex-direction: column;

  > .listItem {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    font-size: var(--ww-font-size-base);
    font-weight: normal;
    color: #aeaeae;

    > .listKeys {
      font-size: var(--ww-font-size-base);
      font-weight: 400;
      color: #605f60;
    }
  }
}
