$class-prefix-switch: 'bwm-switch';

.#{$class-prefix-switch} {
  --width: 51px;
  --height: 31px;
  --border-width: 2px;
  --checked-color: var(--bwm-color-primary);

  display: inline-block;
  cursor: pointer;
  &-checkbox {
    min-width: var(--width);
    height: var(--height);
    position: relative;
    background: #e9e9ea;
    border-radius: 16px;
  }

  &-handle {
    width: calc(var(--height) - 2 * var(--border-width));
    height: calc(var(--height) - 2 * var(--border-width));
    border-radius: calc(var(--height) - 2 * var(--border-width));
    position: absolute;
    top: var(--border-width);
    left: var(--border-width);
    background: #fff;
    transition: all 200ms;
  }

  &.#{$class-prefix-switch}-checked {
    .#{$class-prefix-switch}-checkbox {
      background: var(--checked-color);
    }
    .#{$class-prefix-switch}-handle {
      left: calc(100% - (var(--height) - var(--border-width)));
    }
  }
  &.#{$class-prefix-switch}-disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}
