.top {
  width: 100%;
  height: 182px;
  position: relative;
  flex-shrink: 0;
  background: linear-gradient(180deg, var(--ww-theme-color) 0%, var(--ww-theme-color) 75%, #fefefe 89%, #fefefe 100%);
}

.topText {
  font-size: var(--ww-font-size-sm);
  font-weight: 400;
  color: #333333;
}

.topTextWrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
}

.title {
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
  font-size: var(--ww-font-size-xl);
  font-weight: bold;
  color: #323334;
}

.titleStart {
  left: 20px;
  right: 64px;
  transform: none;
  text-align: left;
}

.left {
  left: 20px;
}

.leftBottom {
  width: 70px;
  height: 40px;
  position: relative;
  color: #333333;
  font-size: var(--ww-font-size-base);
  font-weight: 400;
}

.periodDivider {
  width: 1px;
  height: 40%;
  position: absolute;
  right: -8px;
  bottom: 4px;
  background: #333333;
  opacity: 0.5;
}

.periodValue {
  width: 300px;
}

.periodValueCell {
  width: 88px;
}

.middle {
  left: 121px;
}

.middleBottom {
  width: 96px;
  height: 37px;
  position: relative;
  color: #333333;
  font-size: var(--ww-font-size-base);
  font-weight: 400;
  vertical-align: bottom;
}

.right {
  left: 230px;
}

.rightBottom {
  width: 96px;
  height: 37px;
  position: relative;
}

.bottomWrapper {
  position: absolute;
  bottom: 0;
}

.toggle {
  position: absolute;
  right: 16px;
  bottom: 116px;
  padding: 0 4px;
  font-size: var(--ww-font-size-lg);
}

.actions {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px;
}

.listWrapper {
  width: 100%;
  height: 68px;
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  width: auto;
}

.shortcuts {
  width: 100%;
  height: 68px;
  display: flex;
  background: #fefefe;
  border-radius: 8px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.16);
}

.shortcut {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0;
  background: transparent;
  color: #333;
  font-size: var(--ww-font-size-sm);
}

.shortcutIcon {
  font-size: var(--ww-font-size-2xl);
}

.shortcutLabel {
  margin-top: 4px;
}
